In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path=r"C:\Users\tanma\DATASCIENCE\string & list\Visadataset.xlsx"
visa_df=pd.read_excel(path)

In [ ]:
** standardization **
- Standardization means scalling data into one scale

-we have different columns has different units so that the value will very

-one column has very hu

-another column has very less values

-we have 2 procedures

-so it is important to

In [ ]:
**Normalization**

-Min max Scalar

 x-xmin/xmax-xmin
    
    z score formula= x min/sigma

In [ ]:
# take the prevailing_wage column
#z-score=x-mean/sigma
#step 2 : calculate mean of prevailing_wage
#step 3:calculate std of prevailing_wage
#step4 :nr :prevailing_wage-mean
#step5 :pwage_zscore= nr/Dr

In [4]:
visa_df['prevailing_wage']

0           592.2029
1         83425.6500
2        122996.8600
3         83434.0300
4        149907.3900
            ...
25475     77092.5700
25476    279174.7900
25477    146298.8500
25478     86154.7700
25479     70876.9100
Name: prevailing_wage, Length: 25480, dtype: float64

AttributeError: 'Series' object has no attribute 'columns'

In [7]:
visa_df['prevailing_wage'].mean()

74455.81459209183

In [9]:
pwage=visa_df['prevailing_wage']
pwage_mean=visa_df['prevailing_wage'].mean()
pwage_std=visa_df['prevailing_wage'].std()
nr=pwage-pwage_mean
visa_df['prevailing_wage_z']=nr/pwage_std

In [ ]:
visa_df=[]

In [11]:
visa_df=['prevailing_wage'].max(),visa_df['prevailing_wage_z'].max()

AttributeError: 'list' object has no attribute 'max'

In [12]:
visa_df['prevailing_wage'].idxmax()

21077

In [13]:
visa_df['prevailing_wage'].idxmin()
#

20575

In [14]:
visa_df.iloc[[21077,20575]]

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status,prevailing_wage_z
21077,EZYV21078,Asia,High School,N,N,442,2006,Midwest,319210.2700,Year,Y,Denied,4.634102
20575,EZYV20576,North America,Master's,N,N,1552,2004,Northeast,2.1367,Hour,Y,Certified,-1.409682

In [ ]:
cols=['prevailing_wage','prevailing_wage_z']
ids=[2107,20575
visa_df[['prevailing_wage','prevailing_wage_z']].iloc[[2107,20575]]
visa_df[cols].iloc[ids]

$standardscalar$

In [ ]:
#generally will overwrite the column values
#because we want to clean

In [22]:
#read the package
#save the package
#apply fit trans

from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
visa_df['prevailing_wage']=ss.fit_transform(visa_df[['prevailing_wage']])

In [ ]:
cols=['prevailing_wage','prevailing_wage']

$ min max scaler$

In [ ]:
# x-xmin/(xmax-min)
#step 1: read the pawge column
# step2: find the min value of the pwage column
#step 3: find the max value of the column
#step 4:nr=data column-min value
#step 5: dr=max_value-min_value
#step 5 : nr/dr

#x= data column
# x min
#x max
# nr = x-xmin
#dr=x_max-x_min
#nr/dr

In [23]:
path=r"C:\Users\tanma\DATASCIENCE\string & list\Visadataset.xlsx"
visa_df=pd.read_excel(path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [26]:
pwage=visa_df['prevailing_wage']
pwage_min=visa_df['prevailing_wage'].min()
pwage_max=visa_df['prevailing_wage'].max()
nr=pwage-pwage_min
dr=pwage_max-pwage_min
visa_df['prevailing_wage_norm']=nr/dr
visa_df['prevailing_wage_norm']

0        0.001849
1        0.261345
2        0.385312
3        0.261371
4        0.469616
           ...
25475    0.241505
25476    0.874579
25477    0.458311
25478    0.269895
25479    0.222033
Name: prevailing_wage_norm, Length: 25480, dtype: float64

In [27]:
visa_df['prevailing_wage_norm'].min(),visa_df['prevailing_wage_norm'].max()

(0.0, 1.0)

In [ ]:
from sklearn.preprocessing import