In [1]:
#reading a data file

import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df.tail(2)

NameError: name 'df' is not defined

In [ ]:
df.shape

In [ ]:
df.size

In [ ]:
df.columns

In [ ]:
df.rows

In [ ]:
type(df)

In [ ]:
type(df.columns)

In [ ]:
df.dtypes

In [ ]:
#find out categorical and non categorical
d1=dict(df.dtypes)
for i in d1:
    if d1[i] =='object':
        print(i)

In [ ]:
d1=dict(df.dtypes)
cat=[i for i in d1 if d1[i]=='object']
num=[i for i in d1 if d1[i]!= 'object']

In [ ]:
cat

In [ ]:
df.select_dtypes(include='object').columns

In [ ]:
df.select_dtypes(exclude='object').columns

In [ ]:
#identify any null value,means da has any null value or not
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df.drop_duplicates()

In [ ]:
df.info()

In [ ]:
len(df)

In [ ]:
#loc & iloc
df.take((2,3,20))

In [ ]:
df.take([5,6],axis=1)

In [ ]:
df.take([20,21,23])

In [ ]:
df.take([23,24,25]).take([1,2])

In [ ]:
df.iloc[2:10]

In [ ]:
df.iloc[2:8,1:2]

In [ ]:
df.iloc[:,1:2]

In [ ]:
df.iloc[[23,24,25],[1]]

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
path=r"C:\Users\tanma\DATASCIENCE\string & list\Visadataset.xlsx"
visa_df=pd.read_excel(path)

In [ ]:
visa_df.columns

In [ ]:
visa_df['has_job_experience'].values

In [ ]:
visa_df['continent'].unique()

In [ ]:
visa_df['continent'].nunique()

In [ ]:
#frequency table

In [ ]:
unique_lables=visa_df['education_of_employee'].unique()
count=[]
for i in unique_lables:
    con=visa_df['education_of_employee']==i
    count.append(len(visa_df[con]))
                 
education_of_employee_df=pd.DataFrame(unique_lables,count,columns=['employee','count'])
education_of_employee_df.to_csv('education_of_employee_df.csv',index=False)

In [ ]:
employee_vc=visa_df['education_of_employee'].value_counts()
employee_vc

In [ ]:
plt.boxplot(visa_df['education_of_employee'])
plt.boxplot(non_outliers_df['education_of_employee'])
plt.show()

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
path=r"C:\Users\tanma\DATASCIENCE\string & list\Visadataset.xlsx"
visa_df=pd.read_excel(path)

In [ ]:
visa_df.columns

In [ ]:
visa_df['continent']

In [ ]:
visa_df['continent'].unique()

In [ ]:
unique_labels=visa_df['continent'].unique()
count=[]
for i in unique_labels:
    con =visa_df['continent']==i
    count.append(len(visa_df[con]))
continent_df=pd.DataFrame(zip(unique_labels,count),
                 columns=['continent','count'])
continent_df

In [ ]:
continent_vc=visa_df['continent'].value_counts()
continent_vc

In [ ]:
continent_vc.keys()

In [ ]:
continent_vc.values

In [ ]:
continent_vc=visa_df['continent'].value_counts()

$practice$ $of$ $8th$ $March$

In [ ]:
visa_df['case_status'].unique()

In [ ]:
d={'Certified':0,'Denied':1}
visa_df['case_status']=visa_df['case_status'].map(d)
visa_df

In [ ]:
d={}
labels=visa_df['continent'].unique()
for i in range(len(labels)):
    d[labels[i]]=i

visa_df['continent']=visa_df['continent'].map(d)
visa_df

In [ ]:
# case_id cate
# labels 25480
#for i in range(25480)
#d[case_id[1]]

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

path=r"C:\Users\tanma\DATASCIENCE\string & list\Visadataset.xlsx"
visa_df=pd.read_excel(path)

cat_cols=visa_df.select_dtypes(include='object').columns

d={}
for j in cat_cols[1:]:
    labels=visa_df[j].unique()
    for i in range(len(labels)):
        d[labels[i]]=i
    visa_df[j]=visa_df[j].map(d)

visa_df

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

path=r"C:\Users\tanma\DATASCIENCE\string & list\Visadataset.xlsx"
visa_df=pd.read_excel(path)

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
visa_df['case_status']=le.fit_transform(visa_df['case_status'])
visa_df

In [ ]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
visa_df['case_status']=le.fit_transform(visa_df['case_status'])
visa_df

In [ ]:
#################

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

path=r"C:\Users\tanma\DATASCIENCE\string & list\Visadataset.xlsx"
visa_df=pd.read_excel(path)

c1=visa_df['continent']=='Asia'
c2=visa_df['case_status']=='Certified'
c3=visa_df['case_status']=='Denied'

cert_con=c1&c2
den_con=c1&c3

certified_count=len(visa_df[cert_con])
denied_count=len(visa_df[den_con])

print(f"there are {certified_count} got certified visa from Asia")
print(f"there are {denied_count} got denied visa from Asia")

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

path=r"C:\Users\tanma\DATASCIENCE\string & list\Visadataset.xlsx"
visa_df=pd.read_excel(path)

labels=visa_df['continent'].unique()
certified_count=[]
denied_count=[]
for i in labels:
    c1=visa_df['continent']==i
    c2=visa_df['case_status']=='Certified'
    c3=visa_df['case_status']=='Denied'
    
    cert_con=c1&c2
    den_con=c1&c3
    
    certified_count.append(len(visa_df[cert_con]))
    denied_count.append(len(visa_df[den_con]))
cols=['continent','Certified','Denied']
d1=pd.DataFrame(zip(labels,certified_count,denied_count),
             columns=cols)
d1.set_index('continent')

               Certified  Denied
continent
Asia               11012    5849
Africa               397     154
North America       2037    1255
Europe              2957     775
South America        493     359
Oceania              122      70

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

path=r"C:\\Users\\tanma\\DATASCIENCE\\string & list\\Visadataset.xlsx"
visa_df=pd.read_excel(path)
visa_df

,case_id,continent,education_of_employee,has_job_experience,requires_job_training,no_of_employees,yr_of_estab,region_of_employment,prevailing_wage,unit_of_wage,full_time_position,case_status
0,EZYV01,Asia,High School,N,N,14513,2007,West,592.2029,Hour,Y,Denied
1,EZYV02,Asia,Master's,Y,N,2412,2002,Northeast,83425.6500,Year,Y,Certified
2,EZYV03,Asia,Bachelor's,N,Y,44444,2008,West,122996.8600,Year,Y,Denied
3,EZYV04,Asia,Bachelor's,N,N,98,1897,West,83434.0300,Year,Y,Denied
4,EZYV05,Africa,Master's,Y,N,1082,2005,South,149907.3900,Year,Y,Certified
...,...,...,...,...,...,...,...,...,...,...,...,...
25475,EZYV25476,Asia,Bachelor's,Y,Y,2601,2008,South,77092.5700,Year,Y,Certified
25476,EZYV25477,Asia,High School,Y,N,3274,2006,Northeast,279174.7900,Year,Y,Certified
25477,EZYV25478,Asia,Master's,Y,N,1121,1910,South,146298.8500,Year,N,Certified
25478,EZYV25479,Asia,Master's,Y,Y,1918,1887,West,86154.7700,Year,Y,Certified
25479,EZYV25480,Asia,Bachelor's,Y,N,3195,1960,Midwest,70876.9100,Year,Y,Certified

In [ ]:
visa_df.columns

In [ ]:
visa_df.select_dtypes(exclude='object').columns

In [ ]:
visa_df['prevailing_wage']

In [ ]:
visa_df['no_of_employees']

In [ ]:
visa_df['no_of_employees'].mean()

In [ ]:
visa_df['prevailing_wage'].mean()

In [ ]:
visa_df['no_of_employees'].std()

In [ ]:
#dataframe make
wage_count=round(visa_df['prevailing_wage'].count(),2)
wage_max=round(visa_df['prevailing_wage'].max(),2)
wage_min=round(visa_df['prevailing_wage'].min(),2)
wage_mean=round(visa_df['prevailing_wage'].mean(),2)
wage_median=round(visa_df['prevailing_wage'].median(),2)
wage_std=round(visa_df['prevailing_wage'].std(),2)

l=[wage_count,wage_max,wage_min,wage_mean,wage_median,wage_std]
cols=['prevailing_wage']
index=['count','max','min','median','std','mean']
pd.DataFrame(l,columns=cols,index=index)

In [ ]:
np.percentile(visa_df['prevailing_wage'],50)

In [ ]:
visa_df.describe()

In [ ]:
path=r"C:\\Users\\tanma\\DATASCIENCE\\string & list\\Visadataset.xlsx"
visa_df=pd.read_excel(path)
visa_df

$bar chart$

In [ ]:
plt.figure(figsize=(10,6))
sns.barplot(y='no_of_employees',x='yr_of_estab',
       data=visa_df)
plt.xlabel('year_of_estab')
plt.ylabel('no_of_employees')
plt.title("bar chart")
plt.savefig('continent_bar.jpg')
plt.show()

In [2]:
visa_df.columns

Index(['case_id', 'continent', 'education_of_employee', 'has_job_experience',
       'requires_job_training', 'no_of_employees', 'yr_of_estab',
       'region_of_employment', 'prevailing_wage', 'unit_of_wage',
       'full_time_position', 'case_status'],
      dtype='object')

In [6]:
cols=visa_df.select_dtypes(exclude='object').columns
l=[]
for i in cols:
    count=round(visa_df[i].count(),2)
    maxx=round(visa_df[i].max(),2)
    minn=round(visa_df[i].min(),2)
    mean=round(visa_df[i].mean(),2)
    median=round(visa_df[i].median(),2)
    std=round(visa_df[i].std(),2)
    p_25=np.percentile(visa_df[i],25)
    p_50=np.percentile(visa_df[i],50)
    p_75=np.percentile(visa_df[i],75)
    l.append([count,maxx,minn,mean,median,std,
    p_25,p_50,p_75])
    print(l)
    index=['count','max','min',
    'mean','median','std',
    '25%','50%','75%']
pd.DataFrame(zip(l[0],l[1],l[2]),columns=cols,index=index)

[[25480, 602069, -26, 5667.04, 2109.0, 22877.93, 1022.0, 2109.0, 3504.0]]
[[25480, 602069, -26, 5667.04, 2109.0, 22877.93, 1022.0, 2109.0, 3504.0], [25480, 2016, 1800, 1979.41, 1997.0, 42.37, 1976.0, 1997.0, 2005.0]]
[[25480, 602069, -26, 5667.04, 2109.0, 22877.93, 1022.0, 2109.0, 3504.0], [25480, 2016, 1800, 1979.41, 1997.0, 42.37, 1976.0, 1997.0, 2005.0], [25480, 319210.27, 2.14, 74455.81, 70308.21, 52815.94, 34015.479999999996, 70308.20999999999, 107735.51250000001]]

        no_of_employees  yr_of_estab  prevailing_wage
count          25480.00     25480.00       25480.0000
max           602069.00      2016.00      319210.2700
min              -26.00      1800.00           2.1400
mean            5667.04      1979.41       74455.8100
median          2109.00      1997.00       70308.2100
std            22877.93        42.37       52815.9400
25%             1022.00      1976.00       34015.4800
50%             2109.00      1997.00       70308.2100
75%             3504.00      2005.00      107735.5125

In [ ]:
f ,i, n=plt.hist(visa_df['prevailing_wage'],bins=30)

In [7]:
# step-1: make unique lables
labels=visa_df['continent'].unique()
# step-2: create empty two lists
certified_count=[]
denied_count=[]
# step-3: iterate through loop
for i in labels:
    c1=visa_df['continent']==i
    c2=visa_df['case_status']=='Certified'
    c3=visa_df['case_status']=='Denied'
    cert_con=c1&c2
    den_con=c1&c3
    certified_count.append(len(visa_df[cert_con]))
    denied_count.append(len(visa_df[den_con]))
cols=['Continent','Certified','Denied']
d1=pd.DataFrame(zip(labels,
                    certified_count,
                    denied_count), columns=cols)
d1.set_index('Continent')

               Certified  Denied
Continent
Asia               11012    5849
Africa               397     154
North America       2037    1255
Europe              2957     775
South America        493     359
Oceania              122      70